.App {
  text-align: center;
}


.chat{
  position: absolute;
  left: 93.19%;
  right: 0%;
  bottom: 7.25%;
  width: 50px;
  background: #D71E0E;
  padding: 10px 5px;
  border-radius: 100px;
}

a{
  text-decoration: none;
}